*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    overflow-x: hidden;
    width: 100vw;
    gap: 2rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}
.logo img{
    width: 8rem;
}
li{
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}
nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav a:hover{
    color: darkgray;
}
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.top{
    /* border: 2px solid red; */
    display: flex;
    gap: 2rem;
}
#right-top{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}
.topchild1{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 0.5 rem;
    align-items: center;
    /* border: 2px solid red; */
}
.topchild1 a{
    color: black;
    transition: 2s;
}
.topchild1 a:hover{
    color:red
}
.topchild1 img{
    width: 49.7rem;
}
.right-topchild1{
    border: 2px solid red;
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    width: 10rem;
}
.right-topchild1 img{
    width: 10rem;
}
/* LEFT CHILD TOP */
#left-top{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border: 2px solid red; */
}
.topchild2{
    display: flex;
    align-items: center;
    border: 2px solid grey;
    border-radius: 0.5rem;
    gap: 2rem;
    width: 30rem;
}
.topchild2 img{
    width: 10rem;
    border-radius: 0.4rem;
}
.topchild2 a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 2s;
}
.topchild2 a:hover{
    color: red;
}
/* MIDDLE */
#middle{
    display: flex; 
    gap: 1.5rem;
}
.middlechild{
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 1rem;
    border: 2px solid black;
    border-radius: 0.3rem;
}
.middlechild a{
    color: black;
    text-decoration: none;
    transition: 2s;
}
.middlechild a:hover{
    color: red;
}
#bottom{
    padding: 2rem;
    border: 2px solid wheat;
    display: flex;
    gap: 2rem;
    /* background-color: red; */
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.bottomchild{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red;; */
    /* border: 2px solid green; */
    width:32rem;
    /* border: 2px solid green; */
    align-items: center;
    gap: 2rem;
}
.bottomchild a{
    color: red;
}
.bottomchild img{
    width: 31.7rem;
}
/* RECENT */
#recent{
   display: flex;
   /* flex-direction: column; */
   /* animation: 5s slide infinite linear; */
   gap: 2rem;
   /* border: 2px solid red; */
   /* overflow-x: hidden; */
}
.recentchild{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}
.recentchild img{
    width: 30rem;
    /* border-radius: 0.4rem; */
}
.recentchild a{
    color: red;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 2s;
    font-size: 1rem;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #100F0F;
    color: white;
    padding: 2rem;
    width: 100vw;
    gap: 2rem;
}
.topfoot{
    display: flex;
    gap: 5rem;
    align-items: center;
}
.footleft{
    /* border: 2px solid red; */
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.social{
    display: flex;
    gap: 2rem;
}
.social a{
    color: wheat;
    transition: 2s;
}
.social a:hover{
    color: red;
    transform:rotate(360deg);
}
.footmiddle{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 2rem;
}
.footmiddle input{
    width: fit-content;
    padding-left: 2rem;
}
.footbottom{
    display: flex;
    gap: 20rem;
    align-items: center;
}
.fa-hand-point-up{
    font-size: 3rem;
    color: red;
}
.mypro img{
    width: 10rem;
    border-radius: 50%;
}
.owl-carousel{
    border: 2px solid red;
}